<!DOCTYPE html>
<html>

<head>
  <title>Welcome to Gomix!</title>
  <meta name="description" content="A cool thing made with Gomix">
  <link id="favicon" rel="icon" href="https://gomix.com/favicon-app.ico"
  type="image/x-icon">
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">
  <base target="_blank">

  <link rel="stylesheet" href="http://github-profile.com/dist/gh-profile-card.min.css"/>
  <script type="text/javascript" src="http://github-profile.com/dist/gh-profile-card.min.js"></script>
  <link rel="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>
</head>

<body>
  <header>
    <h1>
    </h1>
  </header>

  <main >
    <nav class="top">
      <a href="#about-me">About Me</a> |
      <a href="#project-portfolio">Portfolio</a> |
      <a href="#contact">Contact</a>
    </nav>

    <h1 id="about-me">About Me</h1>
    <h2 id="from-twitter">From Twitter</h2>

    <blockquote>
      <p>Impact Entrepreneur, struggle-to-code #TDD evangelist, paradox collector,
        green tea and black coffee enthusiast. And yes, squash!</p>
    </blockquote>

    <h2 id="from-aboutme">From about.me</h2>

    <blockquote>
      <p>Entrepreneur, intent on making a meaningful impact within ~30,000
        days (or whatever is left of it) of my existence on this planet.
        <br> Why coding is important - <a href="http://j.mp/HAT-KG">http://j.mp/HAT-KG</a>
      </p>
    </blockquote>

    <h1 id="project-portfolio">Project Portfolio</h1>

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-4 col-md-3">

          <a href="http://s.codepen.io/kgashok/debug/dMeVOV/GnAnbnDKzqbA" class="thumbnail">
            <img src="http://i.imgur.com/dS9Saa2.png" alt="Imgur" title="">
          </a>
          <a href="http://j.mp/bracketV" class="thumbnail">
            <img src="http://i.imgur.com/o1JRq7s.png" alt="Imgur" title="">
          </a>

          <a href="http://j.mp/fccElm" class="thumbnail">
            <img src="http://i.imgur.com/sUlSgP0.png" alt="Imgur" title="">
          </a>

          <a href="https://shore-substance.gomix.me" class="thumbnail">
            <img src="http://i.imgur.com/l5zUE8v.png" alt="Imgur" title="">
          </a>
          
          <a href="http://j.mp/elmJSMix" class="thumbnail">
            <img src="http://i.imgur.com/VBQfTtU.png" alt="Imgur" title="">
          </a>

          <a href="https://j.mp/trumpKG" class="thumbnail">
            <img src="http://i.imgur.com/to9yWBL.png" alt="Imgur" title="">
          </a>


        </div>
      </div>
    </div>

    <h1 id="contact">Contact</h1>

    <div class="container-fluid">
      <div class = "row">
        <div class = "col-xs-4 col-md-3">

          <h2 id="stackoverflow">Stackoverflow</h2> 
          <p>
            <a href="http://stackoverflow.com/users/307454/lifebalance">
              <br>
              <img src="http://stackoverflow.com/users/flair/307454.png" width="208"
              height="58" alt="profile for lifebalance at Stack Overflow, Q&amp;A for professional and enthusiast programmers"
              title="profile for lifebalance at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
              <br>
            </a>
          </p>

          <h2 id="twitter">Twitter</h2>
          <a class="twitter-timeline" data-width="220" data-height="200" href="https://twitter.com/lifebalance">Tweets by Lifebalance</a>
          <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

          <h2 id="github">Github</h2>
          <div id="github-card" data-sort-by="stars" data-header-text="Most starred repositories"
          data-max-repos="5" data-username="kgashok">
          </div>
        </div>
      </div>
    </div>
    
  </main>

  <footer>
    <a href="https://gomix.com">
        Remix this in Gomix
      </a>
  </footer>

  <!-- Your web-app is https, so your scripts need to be too -->
  <script src="https://code.jquery.com/jquery-2.2.1.min.js" integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
  crossorigin="anonymous"></script>

</body>

</html>